includes:
    - ../vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ignore-by-php-version.neon.php
parameters:
    level: 1
    paths:
        - ../.
    excludePaths:
        - ../var
        - ../vendor
        - ../.phpunit
        - ../.github
        - ../bin

